{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <!-- Trigger 'Create Post' Modal -->
    <div id="make-new-post" class="container">
        <div class="input-group flex-nowrap">
            <input id="post-placeholder-field" type="text" class="form-control" placeholder="What's on your mind?" aria-label="Post" aria-describedby="addon-wrapping" data-bs-toggle="modal" data-bs-target="#new-post" disabled>
        </div>
    </div>

    <!-- Create Post Modal -->
    <div class="modal fade" id="new-post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="margin-bottom: 0px;">New Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-bottom: 0px;"></button>
                </div>
                <div class="modal-body">
                    <form id="new-post" method="post" action="/allposts">
                        {% csrf_token %}
                        <div class="textarea">
                            <textarea class="form-control" id="text" name="textfield" rows="3" placeholder="What's on your mind?" required></textarea>
                        </div>
                        <div id="submit" class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Header -->
    <div class="container" id="header-feed">
        <h2>All Posts</h2>
    </div>

    <!-- Displays all the posts -->
    <div id="postsAll" class="container">
        {% for post in page %}
            <div id="{{ post.id }}"class="post-element">
                <h4>{{ post.op }}</h4>
                <p>{{ post.post }}</p>
                <p class="timestamp">Posted on {{ post.timestamp }}</p>
                <div class="total-likes-{{ post.id }}">
                    <i id="like-{{ post.id }}" class="far fa-thumbs-up"></i> <h5 class="like-count" id="like-count-{{ post.id }}"></h5>
                    <i id="comment-{{ post.id }}" class="fas fa-comment"></i> <h5 class="comment-count" id="comment-count-{{ post.id }}"></h5>
                    {% if post.op == user.username %}
                        <h5 id="edit-{{ post.id }}" class="edit">Edit</h5>
                    {% endif %}
                </div>
                <hr>
            </div>

            <!-- Modal for Comments -->
            <div class="modal fade" id="modal-{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div id="modal-content-{{ post.id }}" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title-{{ post.id }}" id="staticBackdropLabel" style="margin-bottom: 0px;"></h5>
                            <button id="btn-close-{{ post.id }}"type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-bottom: 0px;"></button>
                        </div>
                        <div class="modal-body" id="modal-body-parent-{{ post.id }}">
                            <div id="modal-body-empty-{{ post.id }}">
                                No comments :/
                            </div>
                        </div>
                        <div id="modal-footer-{{ post.id }}" class="modal-footer">
                            <div class="input-group mb-0">
                                <input type="text" id="comment-field-{{ post.id }}" class="form-control" placeholder="Your Comment" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button id="comment-post-{{ post.id }}" class="btn btn-primary" type="button" id="button-addon2">Comment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if post.op == user.username %}
                <!-- Modal for Editing Posts -->
                <div class="modal fade" id="modal-edit-{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div id="modal-content-edit-{{ post.id }}" class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title-edit-{{ post.id }}" id="staticBackdropLabel" style="margin-bottom: 0px;">Edit Post</h5>
                                <button id="btn-close-edit-{{ post.id }}"type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-bottom: 0px;"></button>
                            </div>
                            <div class="modal-body" id="modal-body-parent-edit-{{ post.id }}">
                                <div class="mb-3">
                                    <textarea autofocus class="form-control" id="edit-field-{{ post.id }}" rows="3"></textarea>
                                </div>
                                <div class="d-grid gap-2">
                                    <button id="edit-post-button-{{ post.id }}" class="btn btn-primary" type="button">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>

    <!-- Displays the posts posted by the user's 'following' -->
    <div id="postsFollowing" class="container">
    </div>

    <!-- Page numbers -->
    <nav id="pagination" aria-label="Page navigation">
        <ul class="pagination">
            {% if page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'index' %}?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'index' %}?page={{ page.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&#60; Prev</span>
                    </a>
                </li>
                <li class="page-item"><a id="current-page" class="page-link" href="{% url 'index' %}?page={{ page.previous_page_number }}">{{ page_num_before }}</a></li>
            {% endif %}
                
            <li class="page-item active"><a id="current-page" class="page-link">{{ page_num }}</a></li>
                
            {% if page.has_next %}
                <li class="page-item"><a id="current-page" class="page-link" href="{% url 'index' %}?page={{ page.next_page_number }}">{{ page_num_after }}</a></li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'index' %}?page={{ page.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">Next &#62;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'index' %}?page={{ last_page }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}