{% extends 'network/layout.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
    <div class="all">
        <h2 id="heading">Network</h2>
        <div class="square">

            {% if message %}
                <div>{{ message }}</div>
            {% endif %}

            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-0">
                    <input id="username" autofocus class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="input-group mb-0">
                    <input id="password" class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="input-group mb-0">
                    <button id="login" class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>

            <p class="already">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
        </div>
    </div>
{% endblock%}