{% extends 'network/layout.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
    <div class="all">
        <h2 id="heading">Network</h2>
        <h5 id="heading">Register for an account.</h5>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <div class="square">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="profilepicdiv">
                    <img id="profilepic" class="rounded-circle">
                </div>
                <div class="input-group mb-0">
                    {{ form.Register.username }}
                </div>
                <div class="input-group mb-0">
                    {{ form.Register.email }}
                </div>
                <div class="input-group mb-0">
                    {{ form.Register.password }}
                </div>
                <div class="input-group mb-0">
                    {{ form.Register.confirmation }}
                </div>
                <div class="input-group mb-0">
                    <button id="register" class="btn btn-primary" type="submit">Register</button>
                </div>
            </form>

            <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
        </div>
    </div>
{% endblock %}