{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <!-- Displays search results -->
    {% if matched %}
        <div class="container" id="search-results-container">
        {% if onematch %}
            <h2 id="search-results-header">{{ onematch }}</h2>
        {% else %}
            <h2 id="search-results-header">{{ multiplematch }}</h2>
        {% endif %}
        </div>
        <div id="matched" class="container">
            {% for profile in matched %}
                <a href="/viewprofile/{{ profile.username }}"><h4>{{ profile.username }}</h4></a>
                <hr>
            {% endfor %}
        </div>
    {% endif %}
    {% if message %}
        <div class="container" id="zero-results">
            <h2>{{ message }}</h2>
        </div>
    {% endif %}
{% endblock %}