body {
    font-family: 'Urbanist', sans-serif;
}

#make-new-post, #postsAll, #my-posts, #matched {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 7px;
    background-color: #fcfcfc;
    box-shadow: 0px 0px 4px 1px #dedede;
}

#header-feed {
    margin: 0 auto;
}

#data {
    margin: auto;
    text-align: center;
}

#post-placeholder-field {
    background-color: white;
}

.all {
    margin-top: 10%;
}

#heading {
    text-align: center;
}

.input-group mb-0 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 50%;
    text-align: center;
}

#username, #password, #email, #confirmation {
    margin: 10px;
}

#login, #register, #pagination, #feed-tab {
    margin: 0 auto;
    width: 25%;
}

p {
    margin-bottom: 7px;
    font-size: 20px;
}

.timestamp {
    color: gray;
    font-size: 16px;
    padding-bottom: 3px;
}

.square {
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    box-shadow: 0 0 15px #dedede;
}

a {
    text-decoration: none;
}

.profilepicdiv {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 50%;
    text-align: center;
}

#profilepic {
    margin-top: 10px;
    border: 1px solid grey;
    height: 75px;
    width: 75px;
}

#profilepic:hover {
    color: #d4d4d4;
}

.tab, #p {
    color: blue;
    font-size: 20px;
    border: none;
    background-color: white;
}

.total-likes, .comment {
    display: inline-block;
}

.comment {
    margin-left: 20px;
}

.tab:hover {
    color: lightblue;
}

.like-count {
    display: inline-block;
    margin-right: 15px;
}

.comment-count {
    display: inline-block;
}

.edit {
    display: inline-block;
    margin-left: 10px;
}

.edit:hover {
    color: #037ffc;
}


#text {
    margin-bottom: 15px;
}

.already {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 10px;
}

.commenter-ele {
    margin-bottom: 0px;
}

.comment-ele {
    font-size: 18px;
    margin-bottom: 0px;
}

.timestamp-ele {
    font-size: 14px;
    color: gray;
}

textarea {
    resize: none;
}

#username-center {
    margin-top: 50px;
}

#username-profile-child {
    text-align: center;
    font-weight: bold;
}

.title {
    margin: 10px;
    font-weight: bold;
}

.title-content {
    margin: 10px;
}

.title-box {
    display: inline-block;
}